<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.objectcode.time4u.client.store.backend.backend">
      <database-backend
            class="de.objectcode.time4u.client.store.h2.H2Backend"
            id="de.objectcode.time4u.store.h2.database-backend"
            label="H2">
      </database-backend>
   </extension>

</plugin>
