<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.objectcode.time4u.client.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.objectcode.time4u.client.ui.Perspective"
            id="de.objectcode.client.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.ProjectTreeView"
            icon="icons/Project.gif"
            id="de.objectcode.client.ui.view.projectTree"
            name="%projectView.title"/>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.TaskListView"
            icon="icons/Task.gif"
            id="de.objectcode.client.ui.view.taskList"
            name="%taskView.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Time4U"
            id="de.objectcode.time4u.client.ui.category">
      </category>

      <command
            categoryId="de.objectcode.time4u.client.ui.category"
            description="Project Edit"
            id="de.objectcode.time4u.client.ui.project.edit"
            name="Project Edit"/>

   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.objectcode.time4u.client.ui.application"
            name="Time4U">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/Time4U.gif,icons/Time4U_32.gif,icons/Time4U_48.gif,icons/Time4U_64.gif,icons/Time4U_128.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Time4U">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="290,25,155,15">
         </property>
         <property
               name="startupProgressRect"
               value="285,5,160,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="de.objectcode.client.ui.view.projectTreeContribution"
            targetID="de.objectcode.client.ui.view.projectTree">
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/NewProject.gif"
               id="de.objectcode.time4u.client.ui.project.new"
               label="%action.project.new.label"
               menubarPath="objectGroup"
               tooltip="%action.project.new.tooltip">
         </action>
      </viewerContribution>
   </extension>
   <extension

         point="org.eclipse.core.runtime.adapters">

      <factory
            adaptableType="de.objectcode.time4u.server.api.data.ProjectSummary"
            class="de.objectcode.time4u.client.ui.adapter.ProjectAdapterFactory">
         <adapter type="org.eclipse.ui.IActionFilter"/>
         <adapter
               type="de.objectcode.time4u.server.api.data.Project">
         </adapter>
      </factory>

      <factory
            adaptableType="de.objectcode.time4u.server.api.data.TaskSummary"
            class="de.objectcode.time4u.client.ui.adapter.TaskAdapterFactory">
         <adapter type="org.eclipse.ui.IActionFilter"/>
         <adapter
               type="de.objectcode.time4u.server.api.data.Task">
         </adapter>
      </factory>
      <factory
            adaptableType="de.objectcode.time4u.client.ui.util.MultiEntitySelection"
            class="de.objectcode.time4u.client.ui.adapter.MultiEntitySelectionAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="de.objectcode.time4u.server.api.data.ProjectSummary">
         </adapter>
         <adapter
               type="de.objectcode.time4u.server.api.data.Project">
         </adapter>
      </factory>
	</extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.objectcode.time4u.ui.client.projectActionSet"
            label="Project Action Set"
            visible="true">
         <menu
               id="projectMenu"
               label="%menu.projectTask.label"
               path="projectAdditions">
            <groupMarker
                  name="projectGroup">
            </groupMarker>
            <separator
                  name="time4u-client-ui.separator1">
            </separator>
            <groupMarker
                  name="taskGroup">
            </groupMarker>
         </menu>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/Project.gif"
               id="de.objectcode.time4u.client.ui.project.edit"
               label="%action.project.edit.label"
               menubarPath="projectMenu/projectGroup"
               style="push"
               toolbarPath="projectGroup"
               tooltip="%action.project.edit.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.MultiEntitySelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="PROJECT">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/NewProject.gif"
               id="de.objectcode.time4u.client.ui.project.new"
               label="%action.project.new.label"
               menubarPath="projectMenu/projectGroup"
               style="push"
               toolbarPath="projectGroup"
               tooltip="%action.project.new.tooltip"/>

      </actionSet>
   </extension>
</plugin>
