<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.objectcode.time4u.client.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Full Perspective"
            class="de.objectcode.time4u.client.ui.Perspective"
            id="de.objectcode.client.ui.perspective">
      </perspective>
      <perspective
            class="de.objectcode.time4u.client.ui.CompactPerspective"
            id="de.objectcode.client.ui.compactPerspective"
            name="Compact Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.ProjectTreeView"
            icon="icons/Project.gif"
            id="de.objectcode.time4u.client.ui.view.projectTree"
            name="%projectView.title"/>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.TaskListView"
            icon="icons/Task.gif"
            id="de.objectcode.time4u.client.ui.view.taskList"
            name="%taskView.title"/>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.CalendarView"
            icon="icons/WorkItem.gif"
            id="de.objectcode.time4u.client.ui.view.calendarView"
            name="%calendarView.title"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.WorkItemView"
            icon="icons/WorkItem.gif"
            id="de.objectcode.time4u.client.ui.view.workItemListView"
            name="%workItemView.title"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.StatisticsView"
            icon="icons/WorkItem.gif"
            id="de.objectcode.time4u.client.ui.view.statisticsView"
            name="%statisticsView.title"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.PunchView"
            icon="icons/Time4U.gif"
            id="de.objectcode.time4u.client.ui.view.punchView"
            name="%punchView.title"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Time4U"
            id="de.objectcode.time4u.client.ui.category">
      </category>

      <command
            categoryId="de.objectcode.time4u.client.ui.category"
            description="Project Edit"
            id="de.objectcode.time4u.client.ui.project.edit"
            name="Project Edit"/>
      <command
            categoryId="de.objectcode.time4u.client.ui.category"
            description="Task Edit"
            id="de.objectcode.time4u.client.ui.task.edit"
            name="Task Edit">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.objectcode.time4u.client.ui.application"
            name="Time4U">
         <property
               name="aboutText"
               value="Time4U client 0.9.3">
         </property>
         <property
               name="windowImages"
               value="icons/Time4U.gif,icons/Time4U_32.gif,icons/Time4U_48.gif,icons/Time4U_64.gif,icons/Time4U_128.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Time4U">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="290,25,155,15">
         </property>
         <property
               name="startupProgressRect"
               value="285,5,160,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="de.objectcode.client.ui.view.projectTreeContribution2"
            targetID="de.objectcode.time4u.client.ui.view.projectTree">
         <visibility>
            <and>
               <objectClass
                     name="de.objectcode.time4u.client.ui.util.CompoundSelection">
               </objectClass>
               <objectState
                     name="has"
                     value="PROJECT">
               </objectState>
            </and>
         </visibility>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               id="de.objectcode.time4u.client.ui.project.copy"
               label="%action.project.copy.label"
               menubarPath="objectGroup"
               tooltip="%action.project.copy.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/Project.gif"
               id="de.objectcode.time4u.client.ui.project.edit"
               label="%action.project.edit.label"
               menubarPath="objectGroup"
               tooltip="%action.project.edit.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/DeleteProject.gif"
               id="de.objectcode.time4u.client.ui.project.delete"
               label="%action.project.delete.label"
               menubarPath="additions"
               tooltip="%action.project.delete.tooltip">
         </action>
      </viewerContribution>
      <viewerContribution
            id="de.objectcode.client.ui.view.projectTreeContribution1"
            targetID="de.objectcode.time4u.client.ui.view.projectTree">
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/NewProject.gif"
               id="de.objectcode.time4u.client.ui.project.new"
               label="%action.project.new.label"
               menubarPath="newGroup"
               tooltip="%action.project.new.tooltip">
         </action>
      </viewerContribution>
      <viewerContribution
            id="de.objectcode.client.ui.view.taskListContribution1"
            targetID="de.objectcode.time4u.client.ui.view.taskList">
         <visibility>
            <and>
               <objectClass
                     name="de.objectcode.time4u.client.ui.util.CompoundSelection">
               </objectClass>
               <objectState
                     name="has"
                     value="TASK">
               </objectState>
            </and>
         </visibility>
         <action
               class="de.objectcode.time4u.client.ui.actions.TaskActionDelegate"
               icon="icons/Task.gif"
               id="de.objectcode.time4u.client.ui.task.edit"
               label="%action.task.edit.label"
               menubarPath="objectGroup"
               tooltip="%action.task.edit.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TaskActionDelegate"
               icon="icons/DeleteTask.gif"
               id="de.objectcode.time4u.client.ui.task.delete"
               label="%action.task.delete.label"
               menubarPath="additions"
               tooltip="%action.task.delete.tooltip">
         </action>
      </viewerContribution>
      <viewerContribution
            id="de.objectcode.client.ui.view.taskListContribution2"
            targetID="de.objectcode.time4u.client.ui.view.taskList">
         <visibility>
            <and>
               <objectClass
                     name="de.objectcode.time4u.client.ui.util.CompoundSelection">
               </objectClass>
               <objectState
                     name="has"
                     value="PROJECT">
               </objectState>
            </and>
         </visibility>
         <action
               class="de.objectcode.time4u.client.ui.actions.TaskActionDelegate"
               icon="icons/NewTask.gif"
               id="de.objectcode.time4u.client.ui.task.new"
               label="%action.task.new.label"
               menubarPath="newGroup"
               tooltip="%action.task.new.tooltip">
         </action>
      </viewerContribution>
      <viewerContribution
            id="de.objectcode.time4u.client.ui.view.workItemListViewContribution1"
            targetID="de.objectcode.time4u.client.ui.view.workItemListView">
         <visibility>
            <and>
               <objectClass
                     name="de.objectcode.time4u.client.ui.util.CompoundSelection">
               </objectClass>
               <objectState
                     name="has"
                     value="PROJECT">
               </objectState>
               <objectState
                     name="has"
                     value="TASK">
               </objectState>
               <objectState
                     name="has"
                     value="CALENDARDAY">
               </objectState>
            </and>
         </visibility>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/NewWorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.new"
               label="%action.workItem.new.label"
               menubarPath="newGroup"
               tooltip="%action.workItem.new.tooltip">
         </action>
      </viewerContribution>
      <viewerContribution
            id="de.objectcode.time4u.client.ui.view.workItemListViewContribution2"
            targetID="de.objectcode.time4u.client.ui.view.workItemListView">
         <visibility>
            <and>
               <objectClass
                     name="de.objectcode.time4u.client.ui.util.CompoundSelection">
               </objectClass>
               <objectState
                     name="has"
                     value="WORKITEM">
               </objectState>
            </and>
         </visibility>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/DeleteWorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.delete"
               label="%action.workItem.delete.label"
               menubarPath="additions"
               tooltip="%action.workItem.delete.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="WORKITEM.active"
                        value="false">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/ContinueWorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.continue"
               label="%action.workItem.continue.label"
               menubarPath="objectGroup"
               tooltip="%action.workItem.continue.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/WorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.edit"
               label="%action.workItem.edit.label"
               menubarPath="objectGroup"
               tooltip="%action.workItem.edit.tooltip">
         </action>
      </viewerContribution>
      <viewerContribution
            id="de.objectcode.time4u.client.ui.view..calendarViewContribution1"
            targetID="de.objectcode.time4u.client.ui.view.calendarView">
         <visibility>
            <and>
               <objectClass
                     name="de.objectcode.time4u.client.ui.util.CompoundSelection">
               </objectClass>
               <objectState
                     name="has"
                     value="CALENDARDAY">
               </objectState>
            </and>
         </visibility>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.markfree"
               label="%action.timepolicy.markfree.label"
               menubarPath="calendarGroup"
               tooltip="%action.timepolicy.markfree.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.markregular"
               label="%action.timepolicy.markregular.label"
               menubarPath="calendarGroup"
               tooltip="%action.timepolicy.markregular.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.override"
               label="%action.timepolicy.override.label"
               menubarPath="additions"
               tooltip="%action.timepolicy.override.tooltip">
         </action>
      </viewerContribution>
   </extension>
   <extension

         point="org.eclipse.core.runtime.adapters">


      <factory
            adaptableType="de.objectcode.time4u.client.ui.util.CompoundSelection"
            class="de.objectcode.time4u.client.ui.adapter.CompoundSelectionAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="de.objectcode.time4u.client.ui.util.CompoundSelection"
            class="de.objectcode.time4u.client.ui.adapter.CompoundProjectAdapterFactory">
         <adapter
               type="de.objectcode.time4u.server.api.data.ProjectSummary">
         </adapter>
         <adapter
               type="de.objectcode.time4u.server.api.data.Project">
         </adapter>
      </factory>
      <factory
            adaptableType="de.objectcode.time4u.client.ui.util.CompoundSelection"
            class="de.objectcode.time4u.client.ui.adapter.CompoundTaskAdapterFactory">
         <adapter
               type="de.objectcode.time4u.server.api.data.TaskSummary">
         </adapter>
         <adapter
               type="de.objectcode.time4u.server.api.data.Task">
         </adapter>
      </factory>
      <factory
            adaptableType="de.objectcode.time4u.client.ui.util.CompoundSelection"
            class="de.objectcode.time4u.client.ui.adapter.CompoundCalendarDayAdapterFactory">
         <adapter
               type="de.objectcode.time4u.server.api.data.CalendarDay">
         </adapter>
      </factory>
      <factory
            adaptableType="de.objectcode.time4u.client.ui.util.CompoundSelection"
            class="de.objectcode.time4u.client.ui.adapter.CompoundWorkItemAdapterFactory">
         <adapter
               type="de.objectcode.time4u.server.api.data.WorkItem">
         </adapter>
      </factory>
	</extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.objectcode.time4u.ui.client.projectActionSet"
            label="Project Action Set"
            visible="true">
         <menu
               id="projectMenu"
               label="%menu.projectTask.label"
               path="projectAdditions">
            <groupMarker
                  name="projectGroup">
            </groupMarker>
            <separator
                  name="time4u-client-ui.separator1">
            </separator>
            <groupMarker
                  name="taskGroup">
            </groupMarker>
         </menu>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/DeleteProject.gif"
               id="de.objectcode.time4u.client.ui.project.delete"
               label="%action.project.delete.label"
               menubarPath="projectMenu/projectGroup"
               style="push"
               toolbarPath="project/additions"
               tooltip="%action.project.delete.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="PROJECT">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               definitionId="de.objectcode.time4u.client.ui.project.edit"
               icon="icons/Project.gif"
               id="de.objectcode.time4u.client.ui.project.edit"
               label="%action.project.edit.label"
               menubarPath="projectMenu/projectGroup"
               style="push"
               toolbarPath="project/additions"
               tooltip="%action.project.edit.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="PROJECT">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.ProjectActionDelegate"
               icon="icons/NewProject.gif"
               id="de.objectcode.time4u.client.ui.project.new"
               label="%action.project.new.label"
               menubarPath="projectMenu/projectGroup"
               style="push"
               toolbarPath="project/additions"
               tooltip="%action.project.new.tooltip"/>
         <action
               class="de.objectcode.time4u.client.ui.actions.TaskActionDelegate"
               icon="icons/DeleteTask.gif"
               id="de.objectcode.time4u.client.ui.task.delete"
               label="%action.task.delete.label"
               menubarPath="projectMenu/taskGroup"
               style="push"
               toolbarPath="task/additions"
               tooltip="%action.task.delete.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="TASK">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TaskActionDelegate"
               definitionId="de.objectcode.time4u.client.ui.task.edit"
               icon="icons/Task.gif"
               id="de.objectcode.time4u.client.ui.task.edit"
               label="%action.task.edit.label"
               menubarPath="projectMenu/taskGroup"
               style="push"
               toolbarPath="task/additions"
               tooltip="%action.task.edit.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="TASK">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TaskActionDelegate"
               icon="icons/NewTask.gif"
               id="de.objectcode.time4u.client.ui.task.new"
               label="%action.task.new.label"
               menubarPath="projectMenu/taskGroup"
               style="push"
               toolbarPath="task/additions"
               tooltip="%action.task.new.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="PROJECT">
                  </objectState>
               </and>
            </enablement>
         </action>

      </actionSet>
      <actionSet
            id="de.objectcode.time4u.client.ui.workItemActionSet"
            label="WorkItem Action Set"
            visible="true">
         <menu
               id="workItemMenu"
               label="%menu.workItem.label"
               path="workItemAdditions">
            <groupMarker
                  name="workItemGroup">
            </groupMarker>
            <separator
                  name="time4u-client-ui.separator1">
            </separator>
            <groupMarker
                  name="timePolicyGroup">
            </groupMarker>
         </menu>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/DeleteWorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.delete"
               label="%action.workItem.delete.label"
               menubarPath="workItemMenu/workItemGroup"
               style="push"
               toolbarPath="workItem/additions"
               tooltip="%action.workItem.delete.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="WORKITEM">
                  </objectState>
                  <objectState
                        name="WORKITEM.active"
                        value="false">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/ContinueWorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.continue"
               label="%action.workItem.continue.label"
               menubarPath="workItemMenu/workItemGroup"
               style="push"
               toolbarPath="workItem/additions"
               tooltip="%action.workItem.continue.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="WORKITEM">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/WorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.edit"
               label="%action.workItem.edit.label"
               menubarPath="workItemMenu/workItemGroup"
               style="push"
               toolbarPath="workItem/additions"
               tooltip="%action.workItem.edit.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="WORKITEM">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.WorkItemActionDelegate"
               icon="icons/NewWorkItem.gif"
               id="de.objectcode.time4u.client.ui.workitem.new"
               label="%action.workItem.new.label"
               menubarPath="workItemMenu/workItemGroup"
               style="push"
               toolbarPath="workItem/additions"
               tooltip="%action.workItem.new.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="PROJECT">
                  </objectState>
                  <objectState
                        name="has"
                        value="TASK">
                  </objectState>
                  <objectState
                        name="has"
                        value="CALENDARDAY">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.markfree"
               label="%action.timepolicy.markfree.label"
               menubarPath="workItemMenu/timePolicyGroup"
               style="push"
               tooltip="%action.timepolicy.markfree.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="CALENDARDAY">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.markregular"
               label="%action.timepolicy.markregular.label"
               menubarPath="workItemMenu/timePolicyGroup"
               style="push"
               tooltip="%action.timepolicy.markregular.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="CALENDARDAY">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.override"
               label="%action.timepolicy.override.label"
               menubarPath="workItemMenu/timePolicyGroup"
               style="push"
               tooltip="%action.timepolicy.override.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="de.objectcode.time4u.client.ui.util.CompoundSelection">
                  </objectClass>
                  <objectState
                        name="has"
                        value="CALENDARDAY">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.TimePolicyActionDelegate"
               id="de.objectcode.time4u.client.ui.timepolicy.manage"
               label="%action.timepolicy.manage.label"
               menubarPath="workItemMenu/timePolicyGroup"
               style="push"
               tooltip="%action.timepolicy.manage.tooltip">
         </action>
      </actionSet>
      <actionSet
            id="de.objectcode.time4u.ui.client.perspectiveActionSet"
            label="Perspective Action Set"
            visible="true">
         <action
               class="de.objectcode.time4u.client.ui.actions.PerspectivesActionDelegate"
               id="de.objectcode.time4u.client.ui.perspective.full"
               label="%perspecitve.full.label"
               menubarPath="window/perspectivesGroup"
               style="push"
               tooltip="%perspecitve.full.tooltip">
         </action>
         <action
               class="de.objectcode.time4u.client.ui.actions.PerspectivesActionDelegate"
               id="de.objectcode.time4u.client.ui.perspective.compact"
               label="%perspective.compact.label"
               menubarPath="window/perspectivesGroup"
               style="push"
               tooltip="%perspective.compact.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            id="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            name="%propertyPage.userInterface.title">
      </page>
      <page
            category="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            class="de.objectcode.time4u.client.ui.preferences.PunchViewPreferencesPage"
            id="time4u-client-ui.page1"
            name="%punchView.title">
      </page>
      <page
            category="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            class="de.objectcode.time4u.client.ui.preferences.CalendarViewPreferencesPage"
            id="de.objectcode.time4u.client.ui.preferences.CalendarViewPreferencesPage"
            name="%calendarView.title">
      </page>
      <page
            category="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            class="de.objectcode.time4u.client.ui.preferences.ProjectViewPreferencesPage"
            id="de.objectcode.time4u.client.ui.preferences.ProjectViewPreferencesPage"
            name="Project">
      </page>
      <page
            category="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            class="de.objectcode.time4u.client.ui.preferences.TaskViewPreferencesPage"
            id="de.objectcode.time4u.client.ui.preferences.TaskViewPreferencesPage"
            name="Task">
      </page>
      <page
            category="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            class="de.objectcode.time4u.client.ui.preferences.WorkItemViewPreferencesPage"
            id="de.objectcode.time4u.client.ui.preferences.WorkItemViewPreferencesPage"
            name="WorkItem">
      </page>
      <page
            category="de.objectcode.time4u.client.ui.preferences.UIPreferencesPage"
            class="de.objectcode.time4u.client.ui.preferences.StatisticViewPreferencesPage"
            id="de.objectcode.time4u.client.ui.preferences.StatisticViewPreferencesPage"
            name="Statistics">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="de.objectcode.time4u.client.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
