<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.objectcode.time4u.client.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.objectcode.time4u.client.ui.Perspective"
            id="de.objectcode.client.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.ProjectTreeView"
            icon="icons/Project.gif"
            id="de.objectcode.client.ui.view.projectTree"
            name="%projectView.title"/>
      <view
            allowMultiple="false"
            class="de.objectcode.time4u.client.ui.views.TaskListView"
            icon="icons/Task.gif"
            id="de.objectcode.client.ui.view.taskList"
            name="%taskView.title"/>
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="de.objectcode.time4u.client.ui.View"
            id="de.objectcode.client.ui.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="de.objectcode.time4u.client.ui.NavigationView"
            id="de.objectcode.client.ui.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.objectcode.client.ui.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.objectcode.client.ui.category"
            id="de.objectcode.client.ui.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.objectcode.client.ui.category"
            id="de.objectcode.client.ui.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.objectcode.client.ui.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="de.objectcode.client.ui.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.objectcode.time4u.client.ui.application"
            name="Time4U">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/Time4U.gif,icons/Time4U_32.gif,icons/Time4U_48.gif,icons/Time4U_64.gif,icons/Time4U_128.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Time4U">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="290,25,155,15">
         </property>
         <property
               name="startupProgressRect"
               value="285,5,160,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
